<!-- AUTOMATED CMS OPTIONS -->
<% if user_signed_in? %>
  <%= link_to 'edit', edit_issue_path(@issue) %>
  <%= link_to 'delete', issue_path(@issue),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
<% end %>

<!-- AUTOMATED ISSUE DATA-->
<%= render "issues/shared/issue_content", issue: @issue%>

<!-- CUSTOM ISSUE DATA-->

<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/512151108&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/beachhouse" title="Beach house" target="_blank" style="color: #cccccc; text-decoration: none;">Beach house</a> · <a href="https://soundcloud.com/beachhouse/alien" title="Alien" target="_blank" style="color: #cccccc; text-decoration: none;">Alien</a></div>



<!-- AUTOMATED CONTRIBUTIONS -->
<div class="new-contribution">
  <%= link_to "new contribution", new_issue_contribution_path(@issue) %>
</div>

<%= render "issues/shared/contributions", issue: @issue%>
</div>
