<% if user_signed_in? %>
  <%= link_to 'edit', edit_issue_path(@issue) %>
  <%= link_to 'delete', issue_path(@issue),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
<% end %>


<div class="issue-cover">
  <%= cl_image_tag @issue.photo.key, :width=>100, id: "issue-cover-show" %>
</div>

<div class="issue-title">
  ISSUE #<%= @issue.id %>
  <%=@issue.title %>
</div>

<div class="issue-short-desc">
  <%= @issue.short_description %>
</div>


<div class="new-contribution">
  <%= link_to "new contribution", new_issue_contribution_path(@issue) %>
</div>


<div class="contributions_container">
  <% @issue.contributions.each do |contribution| %>
  <% if contribution.published == true %>
    <div class="contribution">
      <div class="type-tag">
        <%= contribution.contribution_type %>
      </div>
      <div class="contribution-content">
        <%= contribution.contribution_content %>
      </div>
      <div class="contribution-author">
        <%= contribution.author %>
      </div>
      <% end %>
    <% end %>
</div>
