<nav role="navigation">
<div class="navbar navbar-expand-sm navbar-light navbar-design">
    <div id="menuToggle">
      <input type="checkbox" />
      <!--Some spans to act as a hamburger.-->
      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <%= link_to "ARCHIVE", archive_path, class: "nav-link" %>
        <%= link_to "ABOUT", about_path, class: "nav-link" %>
        <%= link_to "DONATIONS", donations_path, class: "nav-link" %>
        <%= link_to "SUBMISSIONS", submissions_path, class: "nav-link" %>
        <% if user_signed_in? %>
      <%= link_to 'Dashboard', cms_dashboard_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% end %>
      </ul>
    </div>
  <div class="navitems d-flex flex-column align-items-center">
    <div class="page_head">
      <%= link_to root_path, class: "nav-head" do %>
        <%= cl_image_tag("https://res.cloudinary.com/siggimsiggi/image/upload/v1601141433/logo_gpj3jm.png", :width=>200) %>
      <% end %>
    </div>
    <div class="claim">
      <p> a collaborative platform to un:learn, re:think, re:imagine through lived experiences & the emotive </p>
    </div>
  </div>
</nav>
