<table style="width:100%">
  <tr>
    <th>No. #</th>
    <th>Approved</th>
    <th>Date</th>
    <th>Content</th>
    <th>Email</th>
    <th>Issue</th>
    <th>Type</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% i = @contributions.count + 1 %>
  <% @contributions.each do |contribution| %>
  <% i -= 1 %>
  <tr>
    <td><%= i %> </td>
    <td><%= contribution.approved? ? "yes" : "no" %></td>
    <td><%= contribution.created_at.day %> / <%= contribution.created_at.month %> / <%= contribution.created_at.year %></td>
    <td><%= contribution.content[0..30] ...%></td>
    <td><%= contribution.email%></td>
    <td>Issue #<%= contribution.issue_id %></td>
    <td><%= contribution.con_type %></td>
    <td><%= link_to 'show', issue_contribution_path(contribution, contribution.issue_id) %></td>
    <td><%= link_to 'edit', edit_issue_contribution_path(contribution, contribution.issue_id) %></td>
    <td><%= link_to 'delete', issue_contribution_path(contribution, contribution.issue_id),
        method: :delete,
        data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>
