<table style="width:100%">
  <tr>
    <th>Type</th>
    <th>Content</th>
    <th>Email</th>
    <th>Issue</th>
    <th>Approved</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @contributions.each do |contribution| %>
  <tr>
    <td><%= contribution.con_type %></td>
    <td><%= contribution.content[0..30] ...%></td>
    <td><%= contribution.email%></td>
    <td>Issue #<%= contribution.issue_id %></td>
    <td>
      <%= contribution.approved? ? "yes" : "no" %>
    </td>
    <td><%= link_to 'show', issue_contribution_path(contribution, contribution.issue_id) %></td>
    <td><%= link_to 'edit', edit_issue_contribution_path(contribution, contribution.issue_id) %></td>
    <td><%= link_to 'delete', issue_contribution_path(contribution, contribution.issue_id),
        method: :delete,
        data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>
