<%= simple_form_for ([@issue, @contribution]) do |f| %>
<p>
  I want to contribute something to...
</p>
<%= f.input :con_type, collection: ['listen to', 'read', 'view', 'cooperate', 'watch'], label:false%>
<p>
  Tell us something about your contribution:
</p>
<%= f.input :content, label:false %>

    <p>
      Link ressources:
    </p>
    <%= f.input :link, label:false  %>


  <p>
    URL for iframe embed:
  </p>
  <%= f.input :embed, label:false  %>


  <p>
    What's your name?
  </p>
  <%= f.input :name, label:false  %>
  <p>
    What's your Email?
  </p>
  <%= f.input :email, label:false  %>

  <%= f.input :published%>
  <%= f.input :approved%>


<%= f.submit "Save changes"%>
<% end %>

