<div class="contributions_container">
  <h2>Contributions</h2>

  <% @issue.contributions.each do |contribution| %>
  <% if contribution.published == true %>
  <div class="contribution">
    <div class="type-tag">
      <%= contribution.contribution_type %>
    </div>
    <div class="contribution-content">
      <% if contribution.contribution_type == 'music' %>
      <a href=<%= contribution.contribution_content %>> <%= contribution.contribution_content %></a>
      <% else %>
      <%= contribution.contribution_content %>
      <% end %>
    </div>
    <div class="contribution-author">
      <%= contribution.author %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
