<div class="contributions_container">
  <h2>Contributions</h2>

<div class="new-contribution">
  <%= link_to "new contribution", new_issue_contribution_path(@issue) %>
</div>
  <% @issue.contributions.each do |contribution| %>
    <% if contribution.published == true && contribution.approved == true%>
      <div class="contribution">
        <div class="type-tag">
          <%= contribution.con_type %>
        </div>
      <div class="contribution-content">
        <%= contribution.content %>
      </div>
      <div class="contribution-link">
        <% if !contribution.link.empty?%>
          <a href=<%= contribution.link %>><%= contribution.link %> </a>
        <% end %>
      </div>
      <div class="contribution-photo">
        <% if contribution.photo.attached?%>
          <%= cl_image_tag contribution.photo.key%>
        <% end %>
      </div>
      <div class="contribution-author">
      <%= contribution.name %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

