<!DOCTYPE html>
<html>
  <head>
    <title>the_Other</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
     <div id='page-container'>
      <div id='header'>
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
      </div>
      <div id='body'>
        <div id='content-container'>
          <%= yield %>
        </div>
      </div>
      <div id='footer'>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
